
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

$phonebreak: 450px;
$tabletbreak:1087px;
$big-navbar-height:69px;
$small-navbar-height:50px;

$hover-background-color:#bbbbbb;

// Brands
$brand-primary: #00d1b2;;
$brand-secondary:#0077cf;  //same as link-active-link

$nav-color:#fff;

$text-light:#fafafa;
$text-dark: #636b6f;
$text-black:#000;
$link-active-light: #0077cf;

$button-border-radius:10px;

$primary:#00d1b2;

$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$brand-danger-background:#F2DDD4;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
